@model SupplyTrackerMVC.Application.ViewModels.SenderVm.ListSenderForListVm

@{
    ViewData["Title"] = "ListOfSenders";
}

<h1>ListOfSenders</h1>

<p>
    <a asp-action="AddSender">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Senders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSender", new { id=item.Id}) |
                    @Html.ActionLink("Details", "ViewSender", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
