@model SupplyTrackerMVC.Application.ViewModels.SenderVm.ListSenderForListVm

@{
    ViewData["Title"] = "ViewSenderList";
}

<h1>List Of Senders</h1>

<p>
    <a asp-action="AddSender">Create New</a>
</p>
<form asp-action="ViewSenderList" asp-controller="Sender" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Find" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Senders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateSender", new { senderId = item.Id }) |
                            @Html.ActionLink("Details", "ViewSender", new { senderId = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteSender", new { senderId = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i < Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if(i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td> 
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="5" />

    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
         function PagerClick(index)
         {
             document.getElementById("pageNo").value = index;
             document.forms[0].submit();
         }
        </script>
}
