@model SupplyTrackerMVC.Application.ViewModels.SenderVm.ListSenderForListVm

@{
    ViewData["Title"] = "ViewSenderList";
}

<h1>List Of Senders</h1>

<p>
    <a asp-action="AddSender">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Senders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSender", new { senderId = item.Id }) |
                @Html.ActionLink("Details", "ViewSender", new { senderId = item.Id }) |
                @Html.ActionLink("Delete", "DeleteSender", new { senderId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
