@model SupplyTrackerMVC.Application.ViewModels.ReceiverVm.UpdateReceiverVm

@{
    ViewData["Title"] = "Edit Receiver Information";
}

<h1>Edit Receiver</h1>

<h4>Details :</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateReceiver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address.Id" />
            <span asp-validation-for="Id" class="text-danger"></span>
            <span asp-validation-for="Address.Id" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZIP" class="control-label"></label>
                <input asp-for="Address.ZIP" class="form-control" />
                <span asp-validation-for="Address.ZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr />
    <h2>Contacts</h2>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Role</td>
                    <td>
                        <a asp-controller="Contact" asp-action="UpdateContact" asp-route-contactId="@contact.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteContact" asp-route-id="@contact.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="AddContactForReceiver" asp-route-receiverId="@Model.Id" class="btn btn-success">Add New Contact</a>

    <hr />
    <h2>Receiver Branches</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
              @*<th>Alias</th> // >> TODO: Add this property for view in table*@ 
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receiverBranches in Model.ReceiverBranches)
            {
                <tr>
                    <td>@receiverBranches.Id</td>
                    <td>@receiverBranches.Name</td>
                    <td>
                        <a asp-action="" asp-route-id="@receiverBranches.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="" asp-route-id="@receiverBranches.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Receiver" asp-action="AddReceiverBranch" asp-route-receiverId="@Model.Id" class="btn btn-success">Add ReceiverBranch</a>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
