@model SupplyTrackerMVC.Application.ViewModels.ReceiverVm.ListReceiverForListVm

@{
    ViewData["Title"] = "List Of Active Receivers";
}

<h1>List Of Active Receivers</h1>

<p>
    <a asp-action="AddReceiver">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Receivers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateReceiver", new { receiverId=item.Id }) |
                @Html.ActionLink("Details", "ViewReceiver", new { receiverId=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteReceiver", new { receiverId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
