@model SupplyTrackerMVC.Application.ViewModels.ReceiverVm.ReceiverDetailsVm

@{
    ViewData["Title"] = "ViewReceiver";
}

<h1>ViewReceiver</h1>

<div>
    <h4>ReceiverDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.ZIP)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
