@model SupplyTrackerMVC.Application.ViewModels.DeliveryVm.DeliveryDetailsVm

@{
    ViewData["Title"] = "DeliveryDetails";
}

<h1>DeliveryDetails</h1>

<div>
    <h4>DeliveryDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDataTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDataTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverBranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverBranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDeliveryWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDeliveryWeight)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
