@model SupplyTrackerMVC.Application.ViewModels.DeliveryVm.ListDeliveryForListVm

@{
    ViewData["Title"] = "ReportData";
}

<div class="container my-4">
    <h1 class="mb-4">Deliveries</h1>

    <div class="mb-3">
        <a asp-action="NewDelivery" class="btn btn-success">
            Create New
        </a>
    </div>

    <form asp-action="ViewDeliveriesList" asp-controller="Delivery" method="post">
        <div class="row mb-3">
            <div class="col-md-3 col-lg-2">
                <select class="form-select" name="searchBy" asp-for="SearchBy">
                    <option value="">-- Filter By --</option>
                    <option value="Sender">Sender</option>
                    <option value="Receiver">Receiver</option>
                    <option value="ReceiverBranch">Receiver Branch</option>
                    <option value="Product">Product</option>
                </select>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="input-group">
                    <input type="text" asp-for="SearchString" name="searchString" id="searchString" class="form-control" placeholder="Search..." />
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sender</th>
                            <th>Receiver&nbsp;Branch</th>
                            <th>Product</th>
                            <th>Weight&nbsp;(kg)</th>
                            <th>Delivery&nbsp;Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Deliveries)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.SenderName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReceiverBranchName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProductDeliveryWeight)</td>
                                <td>@Html.DisplayFor(modelItem => item.DeliveryDateTime)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    @for (double i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                    {
                        var isActive = i == Model.CurrentPage ? "active" : "";
                        <li class="page-item @isActive">
                            @if (i != Model.CurrentPage)
                            {
                                <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                                <span class="page-link">@i</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="5" />
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
