@using SupplyTrackerMVC.Application.Enums
@{
    ViewData["Title"] = "User Dashboard";
}
<!--TODO: Add Action Url's for button-->
<div class="container my-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                    Manage Deliveries
                </div>
                <div class="card-body">
                    <p class="card-text">Create, View or Modify Deliveries.</p> 
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("ViewDeliveriesList", "Delivery")'">Manage Deliveries</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                    Statistics
                </div>
                <div class="card-body">
                    <p class="card-text">View Delivery Statistics.</p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("", "")'">Statistics</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                     Reports
                </div>
                <div class="card-body">
                    <p class="card-text">Create and download Delivery Reports.</p>
                    <button class="btn btn-primary me-2" onclick="location.href='@Url.Action("GeneratePdfReport", "Report", new { reportType = ReportType.Daily})'">Daily</button>
                    <button class="btn btn-secondary" onclick="location.href='@Url.Action("GeneratePdfReport", "Report", new { reportType = ReportType.Monthly})'">Monthly</button>
                </div>
            </div>
        </div>
    </div>

</div>
