@model SupplyTrackerMVC.Application.ViewModels.Common.ListContactDetailTypesForListVm

@{
    ViewData["Title"] = "ViewContactTypesList";
}

<h1>ViewContactTypesList</h1>

<p>
    <a asp-action="AddContactType">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContactDetailTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateContactType", new { contactTypeId=item.Id }) |
                    @Html.ActionLink("Details", "ViewContactTypeDetails", new { contactTypeId=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteContactType", new { contactTypeId=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
