@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Manage Products</h3>
    <button onclick="location.href='@Url.Action("ProductsList", "Product")'" type="button">
        Manage Products
    </button>

    <button onclick="location.href='@Url.Action("ProductTypesList", "Product")'" type="button">
        Manage Product Types
    </button>
</div>

<div>
    <h3>Manage Receivers</h3>
    <button onclick="location.href='@Url.Action("ViewReceiverList", "Receiver")'" type="button">
        Manage Receivers
    </button>
</div>

<div>
    <h3>Manage Senders</h3>
    <button onclick="location.href='@Url.Action("ViewSenderList", "Sender")'" type="button">
        Manage Senders
    </button>
</div>

@* TODO: Add after create, Action and Controller Path for user manage *@
<div>
    <h3>Manage Users</h3>
    <button onclick="location.href='@Url.Action("", "")'" type="button">
        Manage Users
    </button>
</div>

<div>
    <h3>Manage Contact Types</h3>
    <button onclick="location.href='@Url.Action("ViewContactTypesList", "Contact")'" type="button">
        Manage Contact Types
    </button>
</div>